<div id='news'>
  <h1 class='titles'>NEWS</h1>
  <%= link_to 'Create news article', new_news_path, class: 'button inc' %>
    <% @news.each do |news| %>
      <div class='row'>
        <div class="news-<%= news.id %>">
          <div class='large-6 columns'>
            <div class='news-image'>
              <%= image_tag news.file.url, style: 'width: 300px; height: auto' %>
            </div>
          </div>
          <div class='news-title'>
            <%= link_to news.title, news_path(news)%>
          </div>
          <div class='news-content'>
            <%= news.content.html_safe %>
          </div>
          <div>
            <%= news.tag_list %>
          </div>
        </div>
      </div>
      <%= link_to 'Delete post', news_path(news), method: :delete, class: 'button tiny alert' %>
      <%= link_to 'Edit post', edit_news_path(news), class: 'button tiny default' %>
    <% end %>
</div>
