<h3>Create news post</h3>
<%= form_for @news do |f| %>
<%= f.label :title, 'Title' %>
<%= f.text_field :title %>
<%= f.label  :content, 'Content' %>
<%= f.cktext_area :content, class: 'ckeditor' %>
<%= f.label :file %>
<%= f.file_field :file %>
<%= f.submit 'Submit', class: 'button inc' %>
<% end %>
